.cards {
  background-color: var(--secondary-color);
  padding: 2rem;
}

.cards > .container > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cards > .container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding: 3rem;
}

.cards > .container > div > div > p {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-white);
}

.cards > .container > div > div > h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--text-white);
}

@media (max-width: 767.98px) {
  .cards > .container > div {
    grid-template-columns: 1fr;
  }
}
