.phone {
  padding: 2rem 0;
  background-color: var(--main-color);
}

.phone > .container > h3 {
  color: var(--text-white);
  text-align: center;
  font-size: 1.5rem;
}

.phone > .container > h3 > span {
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {
  .phone > .container > h3 {
    display: grid;
  }
}
