@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --main-color: #7391c4;
  --secondary-color: #485263;
  --section-color: #eff3f9;
  --border-color: #cacaca;
  --text-white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background: var(--text-white);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

button {
  display: block;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* Header */
header {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.5rem;
  background-color: var(--text-white);
  position: sticky;
  top: 0;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > .header__left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header > div > .header__left > strong {
  text-transform: uppercase;
  font-size: larger;
  cursor: pointer;
}

header > div > .header__left > div {
  border: 1px solid var(--border-color);
  padding-right: 0.5rem;
}

header > div > .header__left > div > input {
  padding: 0.5rem;
  border: none;
  outline-width: 0;
}

header > div > .header__left > div > em {
  cursor: pointer;
}

header > div > .header__right > em {
  font-size: 30px;
  cursor: pointer;
}

/* Hero Banner */

.hero > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero > .container > .hero__left {
  align-self: end;
}

.hero > .container > .hero__left > img {
  display: block;
}

.hero > .container > .hero__right > * {
  margin-bottom: 1rem;
}

.hero > .container > .hero__right > p {
  font-size: 1.5rem;
}

.hero > .container > .hero__right > p:nth-of-type(2) {
  font-size: 2rem;
}

.hero > .container > .hero__right > button {
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--main-color);
  padding: 1rem;
  color: var(--text-white);
  width: 50%;
}

/* Section Features */
.features {
  background-color: var(--section-color);
  padding: 2rem 0;
}

.features > .container > h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.features > .container > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.features > .container > div > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--text-white);
  padding: 2rem;
}

.features > .container > div > div > em {
  font-size: 40px;
  color: var(--main-color);
}

/* Phone */
.phone {
  padding: 2rem 0;
  background-color: var(--main-color);
}

.phone > .container > h3 {
  color: var(--text-white);
  text-align: center;
  font-size: 1.5rem;
}

.phone > .container > h3 > span {
  font-size: 2.5rem;
}

/* Course */
.course {
  padding: 2rem 0;
}

.course > .container > h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.course > .container > p {
  text-align: center;
}

.course > .container > div {
  display: flex;
  gap: 1rem;
}

.course > .container > div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.course > .container > div > div > img {
  width: 40px;
  height: 40px;
}

/* Cards */
.cards {
  background-color: var(--secondary-color);
  padding: 2rem;
}

.cards > .container > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cards > .container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding: 3rem;
}

.cards > .container > div > div > p {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-white);
}

.cards > .container > div > div > h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--text-white);
}

/* Team Section */

.team {
  padding: 2rem 0;
}

.team > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.team > .container > .team__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.team > .container > .team__right > img {
  width: 100px;
  height: 100px;
  justify-self: center;
}

/* Footer */
footer {
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

footer > .container > p {
  text-align: center;
  color: var(--text-white);
}

/* Media Queries */

/* Extra small */
@media (max-width: 575.98px) {
  .phone > .container > h3 {
    display: grid;
  }

  .course > .container > div > div {
    flex-direction: column;
  }

  .team > .container {
    grid-template-columns: 1fr;
  }

  .team > .container > .team__left {
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* Small */
@media (max-width: 767.98px) {
  header .header__left > div {
    display: none;
  }

  .hero > .container {
    grid-template-columns: 1fr;
  }

  .hero > .container > .hero__left {
    display: none;
  }

  .hero > .container > .hero__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .features > .container > div {
    grid-template-columns: 1fr;
  }

  .cards > .container > div {
    grid-template-columns: 1fr;
  }
}

/* Medium */
@media (max-width: 991.98px) {
}

/* Large */
@media (max-width: 1199.98px) {
}

/* Extra-Large */
@media (max-width: 1399.98px) {
}
